# BANK LOGISTIC REGRESSION ASSIGNMENT

1.acquire dataset
2.import library
3.read the dataset
4.handle null values
5.handle categorical values
6.split data into x and y
7.split data into train and test
8.feature scaling (classification)
9.train
10.test
11.find accuracy
12.predict the individual values

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("bank.csv")

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["deposit"]=le.fit_transform(data["deposit"])
data["job"]=le.fit_transform(data["job"])
data["marital"]=le.fit_transform(data["marital"])
data["education"]=le.fit_transform(data["education"])
data["default"]=le.fit_transform(data["default"])
data["housing"]=le.fit_transform(data["housing"])
data["loan"]=le.fit_transform(data["loan"])
data["contact"]=le.fit_transform(data["contact"])
data["month"]=le.fit_transform(data["month"])
data["poutcome"]=le.fit_transform(data["poutcome"])

In [21]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [22]:
x=data.iloc[:,0:16].values
y=data.iloc[:,16].values

In [23]:
x

array([[ 59,   0,   1, ...,  -1,   0,   3],
       [ 56,   0,   1, ...,  -1,   0,   3],
       [ 41,   9,   1, ...,  -1,   0,   3],
       ...,
       [ 32,   9,   2, ...,  -1,   0,   3],
       [ 43,   9,   1, ..., 172,   5,   0],
       [ 34,   9,   1, ...,  -1,   0,   3]], dtype=int64)

In [24]:
y

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [12]:
data.shape

(11162, 17)

In [16]:
y.shape

(11162,)

In [27]:
x_test

array([[-0.01351615,  0.78245621, -0.36290363, ...,  2.62409874,
         0.62465525, -2.46158167],
       [ 1.25461704,  1.407917  , -0.36290363, ...,  1.30248101,
         1.63872661, -0.47864088],
       [-0.94348049,  0.78245621,  1.22916673, ..., -0.46885387,
        -0.38941612,  0.51282951],
       ...,
       [-0.52076943,  1.72064739, -0.36290363, ..., -0.46885387,
        -0.38941612,  0.51282951],
       [ 1.0009904 , -1.40665655,  1.22916673, ..., -0.46885387,
        -0.38941612,  0.51282951],
       [-0.09805837,  0.78245621, -0.36290363, ..., -0.46885387,
        -0.38941612,  0.51282951]])

In [28]:
from sklearn.linear_model import LogisticRegression
lt=LogisticRegression()
lt.fit(x_train,y_train)

C:\Users\ssc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
ypred=lt.predict(x_test)

In [31]:
ypred

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [32]:
y_test

array([0, 1, 0, ..., 1, 1, 0], dtype=int64)

In [33]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypred,y_test)

In [36]:
data.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1

In [34]:
accuracy

0.7904164800716524

In [41]:
lt.predict(sc.transform([[59,0,1,1,0,2343,1,0,1,5,8,1042,1,-1,0,3]]))

array([1], dtype=int64)